<h3 class="page-header">Create User Form</h3>
<form method="post" action="/users/register">
   <div class="form-group">
    <label for="username">Username: </label>
    <input type="text" class="form-control" placeholder="username" name="username" />
   </div>

   <div class="form-group">
    <label for="firstname">firstname: </label>
    <input type="text" class="form-control" placeholder="firstname" name="firstname" />
   </div>

   <div class="form-group">
    <label for="secondname">secondname: </label>
    <input type="text" class="form-control" placeholder="secondname" name="secondname" />
   </div>

   <div class="form-group">
    <label for="email">email: </label>
    <input type="text" class="form-control" placeholder="email" name="email" />
   </div>

   <div class="form-group">
    <label for="password">Password: </label>
    <input type="password"  class="form-control" name="password" />
   </div>

   <div class="form-group">
    <label for="password2">Password Confirmation: </label>
    <input type="password" class="form-control" name="password2" />
   </div>
   <button type="submit" class="btn btn-default">submit</button>
</form>