<h3>Create User Form</h3>
<form method="post" action="/users/register">
   <div>
    <label for="username">Username: </label>
    <input type="text" placeholder="username" name="username" />
   </div>

   <div>
    <label for="firstname">firstname: </label>
    <input type="text" placeholder="firstname" name="firstname" />
   </div>

   <div>
    <label for="secondname">secondname: </label>
    <input type="text" placeholder="secondname" name="secondname" />
   </div>

   <div>
    <label for="email">Username: </label>
    <input type="text" placeholder="email" name="email" />
   </div>

   <div>
    <label for="username">Username: </label>
    <input type="text" placeholder="username" name="password" />
   </div>
   <button type="submit">submit</button>
</form>